<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Pathfinding</title>
        <link rel="stylesheet" href="styles.css" />
    </head>
    <body>
        <button class="start">Start</button>
        <button class="finish">Finish</button>
        <button class="wall">Wall</button>
        <button class="run">Run</button>
        <select name="algorithm" id="algorithm-type">
            <option value="A*" selected="selected">A*</option>
            <option value="Dijkstra">Dijkstra</option>
        </select>
        <select name="speed" id="algorithm-speed">
            <option value="x1" selected="selected">x1</option>
            <option value="x2">x2</option>
            <option value="x4">x4</option>
        </select>
        <button class="clear">Clear</button>

        <div class="container" id="container"></div>

        <script src="consts.js"></script>
        <script defer src="PathNode.js"></script>
        <script defer src="Board.js"></script>
        <script defer src="algorithm.js"></script>
        <script defer src="dijkstra.js"></script>
        <script defer src="app.js"></script>
    </body>
</html>
