*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

:root {
    --node-size: calc(80vw / var(--node-count-width));
    --node-gap: 1px;
    --node-count-width: 30;
    --node-count-height: 14;
}

/* pathfinding */

.container {
    width: calc(var(--node-size) * var(--node-count-width));
    height: calc(var(--node-size) * var(--node-count-height));
    margin: 0.5rem auto;
    display: grid;
    grid-template-columns: repeat(var(--node-count-width), 1fr);
    grid-template-rows: repeat(var(--node-count-height), 1fr);
    gap: 0;
}

.node {
    background: black;
    border: 0.01px solid white;
    width: var(--node-size);
    height: var(--node-size);
    user-select: none;
}

.node.open {
    background: hsl(120, 80%, 30%);
}

.node.closed {
    background: hsl(0, 60%, 40%);
}

.node.path {
    background: hsl(320, 70%, 50%);
}

.node.wall {
    background: hsl(0, 0%, 50%);
}

.node.start {
    background: hsl(120, 70%, 50%);
}

.node.end {
    background: hsl(0, 60%, 70%);
}

/* buttons */

button {
    border: none;
    padding: 0.5rem 0.8rem;
    font-size: 1.2rem;
    margin: 0.4rem 0.8rem;
    border-radius: 5px;
}

.start {
    background-color: rgb(160, 160, 160);
    color: white;
}

.finish {
    background-color: rgb(122, 122, 122);
    color: white;
}

.wall {
    background-color: rgb(196, 92, 100);
    color: white;
}

.run {
    background-color: rgb(19, 192, 19);
}

.clear {
    background-color: rgb(255, 79, 79);
    color: white;
    float: right;
}

/* drop boxs */

select {
    padding: 0.6rem 0.8rem;
    border: 1px solid black;
    font-size: 1rem;
    border-radius: 2px;
}
